<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>watching values in the angularjs watch</h2>
    <div ng-controller="myController">
        select color:
        <span ng-controller="mColor in mColors">
            <span ng-style="{color:mColor}" ng-click="setColor(mColor)">{{mColor}}</span>
        </span><hr>
        <span ng-click="hit()">[+]</span>
        hits:{{hits}}<br>
        <span ng-click="miss()">[+]</span>
        misses:{{misses}}<hr>
        number of change:{{changes}}
    </div>
    <script src='http://code.angularjs.org/1.3.0/angular.min.js'></script>
    <script src="js/scope_watch.js"></script>
</body>
</html>