<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div ng-controller="Counter">
        <span>change amount:</span>
        <input type="number" ng-model="change">
        <hr>
        <span>start value:</span>
        {{start}}
        <br>
        <span>currentvalue:</span>
        {{current}}
        <button ng-click="inc()">+</button>
        <button ng-click="dec()">-</button>
        <hr>
        <span>difference:</span>
        {{difference}}
    </div>
    <script src="../angular.min.js"></script>
    <script src="js/scope_controller.js"></script>
</body>
</html>