<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div ng-controller="LevelA">
        <h3>{{title}}</h3>
        ValueA = {{valueA}}<input type="button" ng-click="inc()" value="+"/>
        <div ng-controller="LevelB">
            <h3>{{title}}</h3>
            valueA = {{valueA}}
            <br>
            valueB = {{valueB}}
            <input type="button" ng-click="inc()" value="+">
            <div ng-controller="LevelC">
                <hr>
                <h3>{{title}}</h3>
                valueA = {{valueA}}
                <br>
                valueB = {{valueB}}
                <br>
                valueC = {{valueC}}
                <input type="button" ng-click="inc()" value="+">
            </div>
        </div>
    </div>
    <script src="../angular.min.js"></script>
    <script src="js/scope_hierarchy.js"></script>
</body>
</html>