<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div ng-controller="SimpleTemplate">
        ValueA:<input type="number" ng-model="valueA"/>
        <br>
        ValueB:<input type="number" ng-model="valueB"/>
        <br>
        <br>
        Expression:{{valueA}}+{{valueB}}
        <br>
        live expression value:{{valueA+valueB}}
        <br>
        <br>
        <input type="button" ng-click="addValues(valueA,valueB)" value="click to to add value:{{valueA}} & {{valueB}}" />
        <br>
        clicked expression value: {{valueC}}
        <br>
    </div>
    <script src="../angular.min.js"></script>
    <script src="js/scope_template.js"></script>
</body>
</html>